@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../views';
@source '../../../links/resources';

@theme {
    --color-accented: var(--color-blue-100);
    --font-heading: Piazzolla, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer utilities {
    .bg-gradient-stripes {
        background-image: repeating-linear-gradient(75deg,
            var(--tw-gradient-from),
            var(--tw-gradient-from) 1rem,
            var(--tw-gradient-to) 1rem,
            var(--tw-gradient-to) 1.5rem);
    }
}
